In [1]:
import numpy as np
import pandas as pd

from scipy import stats
import matplotlib.pyplot as plt
import statsmodels.api as sm

%matplotlib inline

In [20]:
ind = 'BCOMTR'
dt = pd.read_csv('%s.csv'%ind,index_col=0)
dt.iloc[:,0]
df = pd.DataFrame()
df = pd.concat([df,dt.iloc[:,0]])
df

             0
0   167.848992
1   168.124194
2   168.240123
3   168.482990
4   167.744850
5   167.356970
6   167.398791
7   166.913320
8   166.616388
9   166.079899
10  166.246589
11  165.898617
12  165.600967
13  166.117430
14  165.836230
15  166.093701
16  166.678573
17  166.696226
18  166.539088
19  166.297605
20  165.694734
21  165.340380
22  165.317640
23  164.984994
24  165.166680
25  166.185096
26  165.369221
27  164.880917
28  164.888417
29  165.336515

In [43]:
# real price series
df_ = pd.DataFrame()
for ind in ['RU20INTR','RUMCINTR','LBUSTRUU','NDDUWXUS','LG30TRUU','BCOMTR']:
        dt = pd.read_csv('dt_2001_clean.csv')[ind][3947:]
        df_ = pd.concat([df_,dt],axis = 1)
df_.index = range(len(df_))
df_

     RU20INTR  RUMCINTR  LBUSTRUU  NDDUWXUS   LG30TRUU    BCOMTR
0    6405.945  11337.70   1973.98  4747.330  1161.3469  171.5319
1    6464.855  11391.89   1975.49  4750.119  1163.3268  172.0464
2    6502.581  11430.12   1971.39  4720.794  1161.8572  172.4915
3    6527.404  11469.95   1970.32  4770.637  1163.2203  171.8377
4    6443.953  11384.65   1976.10  4755.166  1164.5419  173.9343
..        ...       ...       ...       ...        ...       ...
919  7566.935  15466.26   2388.03  6001.344  1404.4290  146.1777
920  7491.050  15344.85   2391.05  5993.795  1402.9070  146.2388
921  7648.413  15637.53   2391.14  5996.391  1406.4470  147.2259
922  7620.578  15577.61   2395.60  5916.040  1407.2330  145.6468
923  7546.137  15580.83   2396.78  5838.305  1410.0060  146.5510

[924 rows x 6 columns]

In [44]:
df_.iloc[0]

RU20INTR     6405.9450
RUMCINTR    11337.7000
LBUSTRUU     1973.9800
NDDUWXUS     4747.3300
LG30TRUU     1161.3469
BCOMTR        171.5319
Name: 0, dtype: float64

In [45]:
df = pd.DataFrame()
for ind in ['RU20INTR','RUMCINTR','LBUSTRUU','NDDUWXUS','LG30TRUU','BCOMTR']:
    dt = pd.read_csv('%s.csv'%ind,index_col=0)
    df = pd.concat([df,dt.iloc[:,i]],axis = 1)
df.columns = ['RU20INTR','RUMCINTR','LBUSTRUU','NDDUWXUS','LG30TRUU','BCOMTR']
df

,RU20INTR,RUMCINTR,LBUSTRUU,NDDUWXUS,LG30TRUU,BCOMTR
0,6336.518599,11224.793636,1971.146687,4704.242083,1155.323184,167.848992
1,6332.297817,11185.809252,1970.053870,4694.029443,1147.305590,168.124194
2,6334.307961,11193.088089,1968.398748,4701.263711,1149.583999,168.240123
3,6362.164121,11199.193250,1966.226759,4688.387286,1148.672988,168.482990
4,6380.378506,11274.854585,1964.373264,4710.363172,1150.322840,167.744850
5,6364.523280,11268.527598,1962.130728,4692.278758,1149.096040,167.356970
6,6376.520552,11307.051385,1955.187135,4693.770947,1144.589863,167.398791
7,6368.729754,11296.499516,1954.049984,4697.126550,1143.710890,166.913320
8,6352.467319,11254.526612,1946.936762,4687.874748,1149.025518,166.616388
9,6347.938791,11270.825995,1958.312004,4685.709215,1148.353782,166.079899
10,6363.654911,11333.085032,1950.877336,4708.089537,1151.963674,166.246589
11,6357.300963,11376.870137,1952.007707,4708.254114,1151.694740,165.898617
12,6353.209974,11361.231549,1948.101335,4705.832174,1151.442641,165.600967
13,6347.848208,11381.274829,1950.074165,4690.474368,1148.913345,166.117430
14,6367.832374,11357.535074,1959.823739,4703.870849,1148.207019,165.836230
15,6358.300473,11371.743488,1961.314205,4705.334736,1156.005095,166.093701
16,6370.435750,11365.749710,1963.077825,4709.997599,1156.860363,166.678573
17,6375.829472,11385.658590,1961.206792,4728.633812,1154.247303,166.696226
18,6350.184744,11428.937423,1952.692948,4720.599702,1155.300744,166.539088
19,6349.713014,11416.930619,1946.589784,4735.690551,1155.434455,166.297605
20,6344.622607,11365.347816,1947.026755,4719.727242,1155.624612,165.694734
21,6349.588888,11341.779224,1941.802185,4714.953651,1159.244636,165.340380
22,6373.592557,11310.965538,1938.843979,4720.501500,1157.521649,165.317640
23,6361.377057,11277.680802,1936.433297,4729.297012,1150.898671,164.984994
24,6398.629541,11270.775437,1932.655627,4725.596570,1151.504433,165.166680
25,6415.358234,11210.834084,1932.493385,4723.312387,1150.205020,166.185096
26,6436.207402,11178.891186,1925.325717,4725.220968,1147.719325,165.369221
27,6437.740882,11165.053743,1926.207531,4723.306784,1147.254985,164.880917
28,6433.806692,11223.015719,1927.296696,4725.329717,1142.996468,164.888417
29,6464.233620,11223.763807,1923.182450,4705.359756,1143.011395,165.336515

In [46]:
from pypfopt import EfficientFrontier
from pypfopt import risk_models
from pypfopt import expected_returns

In [47]:
# exp_ret = []
# vol = []
# sr = []
# act_ret = []

# mu = expected_returns.mean_historical_return(df)
# S = risk_models.sample_cov(df)
        
#     # Optimise for maximal Sharpe ratio
# ef = EfficientFrontier(mu, S)
# raw_weights = ef.max_sharpe()
# cleaned_weights = ef.clean_weights()
        
# exp_ret.append(ef.portfolio_performance(verbose=False)[0])
# vol.append(ef.portfolio_performance(verbose=False)[1])
# sr.append(ef.portfolio_performance(verbose=False)[2])
        
# wt = list(cleaned_weights.values())
# start_val = sum(wt*df_.iloc[0])
# # end_val = sum(wt*df_.iloc[(i+1)*30])
# # rrr = end_val/start_val - 1 
# # act_ret.append(rrr)

In [79]:
# Here we take rf = 0.02 as default 
# and we append 0.002 in some month as the model shows all the index would get down and we would 
# invest on risk-free assets
exp_ret = []
vol = []
sr = []
act_ret = []


for i in range(4):
    df = pd.DataFrame()
    for ind in ['RU20INTR','RUMCINTR','LBUSTRUU','NDDUWXUS','LG30TRUU','BCOMTR']:
        dt = pd.read_csv('%s.csv'%ind,index_col=0)
        df = pd.concat([df,dt.iloc[:,i]],axis = 1)
    df.columns = ['RU20INTR','RUMCINTR','LBUSTRUU','NDDUWXUS','LG30TRUU','BCOMTR']
    
    
    mu = expected_returns.mean_historical_return(df)
    S = risk_models.sample_cov(df)
        
    # Optimise for maximal Sharpe ratio
    ef = EfficientFrontier(mu, S)
    raw_weights = ef.max_sharpe()
    cleaned_weights = ef.clean_weights()
        
    exp_ret.append(ef.portfolio_performance(verbose=False)[0])
    vol.append(ef.portfolio_performance(verbose=False)[1])
    sr.append(ef.portfolio_performance(verbose=False)[2])
        
    wt = list(cleaned_weights.values())
    start_val = sum(wt*df_.iloc[i*30])
    end_val = sum(wt*df_.iloc[(i+1)*30])
    rrr = end_val/start_val - 1 
    act_ret.append(rrr)

act_ret.append(0.002)



for i in range(5,6):
    df = pd.DataFrame()
    for ind in ['RU20INTR','RUMCINTR','LBUSTRUU','NDDUWXUS','LG30TRUU','BCOMTR']:
        dt = pd.read_csv('%s.csv'%ind,index_col=0)
        df = pd.concat([df,dt.iloc[:,i]],axis = 1)
    df.columns = ['RU20INTR','RUMCINTR','LBUSTRUU','NDDUWXUS','LG30TRUU','BCOMTR']
    
    
    mu = expected_returns.mean_historical_return(df)
    S = risk_models.sample_cov(df)
        
    # Optimise for maximal Sharpe ratio
    ef = EfficientFrontier(mu, S)
    raw_weights = ef.max_sharpe()
    cleaned_weights = ef.clean_weights()
        
    exp_ret.append(ef.portfolio_performance(verbose=False)[0])
    vol.append(ef.portfolio_performance(verbose=False)[1])
    sr.append(ef.portfolio_performance(verbose=False)[2])
        
    wt = list(cleaned_weights.values())
    start_val = sum(wt*df_.iloc[i*30])
    end_val = sum(wt*df_.iloc[(i+1)*30])
    rrr = end_val/start_val - 1 
    act_ret.append(rrr)

act_ret.append(0.002)

for i in range(7,10):
    df = pd.DataFrame()
    for ind in ['RU20INTR','RUMCINTR','LBUSTRUU','NDDUWXUS','LG30TRUU','BCOMTR']:
        dt = pd.read_csv('%s.csv'%ind,index_col=0)
        df = pd.concat([df,dt.iloc[:,i]],axis = 1)
    df.columns = ['RU20INTR','RUMCINTR','LBUSTRUU','NDDUWXUS','LG30TRUU','BCOMTR']
    
    
    mu = expected_returns.mean_historical_return(df)
    S = risk_models.sample_cov(df)
        
    # Optimise for maximal Sharpe ratio
    ef = EfficientFrontier(mu, S)
    raw_weights = ef.max_sharpe()
    cleaned_weights = ef.clean_weights()
        
    exp_ret.append(ef.portfolio_performance(verbose=False)[0])
    vol.append(ef.portfolio_performance(verbose=False)[1])
    sr.append(ef.portfolio_performance(verbose=False)[2])
        
    wt = list(cleaned_weights.values())
    start_val = sum(wt*df_.iloc[i*30])
    end_val = sum(wt*df_.iloc[(i+1)*30])
    rrr = end_val/start_val - 1 
    act_ret.append(rrr)

act_ret.append(0.002)

for i in range(11,18):
    df = pd.DataFrame()
    for ind in ['RU20INTR','RUMCINTR','LBUSTRUU','NDDUWXUS','LG30TRUU','BCOMTR']:
        dt = pd.read_csv('%s.csv'%ind,index_col=0)
        df = pd.concat([df,dt.iloc[:,i]],axis = 1)
    df.columns = ['RU20INTR','RUMCINTR','LBUSTRUU','NDDUWXUS','LG30TRUU','BCOMTR']
    
    
    mu = expected_returns.mean_historical_return(df)
    S = risk_models.sample_cov(df)
        
    # Optimise for maximal Sharpe ratio
    ef = EfficientFrontier(mu, S)
    raw_weights = ef.max_sharpe()
    cleaned_weights = ef.clean_weights()
        
    exp_ret.append(ef.portfolio_performance(verbose=False)[0])
    vol.append(ef.portfolio_performance(verbose=False)[1])
    sr.append(ef.portfolio_performance(verbose=False)[2])
        
    wt = list(cleaned_weights.values())
    start_val = sum(wt*df_.iloc[i*30])
    end_val = sum(wt*df_.iloc[(i+1)*30])
    rrr = end_val/start_val - 1 
    act_ret.append(rrr)
    
act_ret.append(0.002)

for i in range(19,24):
    df = pd.DataFrame()
    for ind in ['RU20INTR','RUMCINTR','LBUSTRUU','NDDUWXUS','LG30TRUU','BCOMTR']:
        dt = pd.read_csv('%s.csv'%ind,index_col=0)
        df = pd.concat([df,dt.iloc[:,i]],axis = 1)
    df.columns = ['RU20INTR','RUMCINTR','LBUSTRUU','NDDUWXUS','LG30TRUU','BCOMTR']
    
    
    mu = expected_returns.mean_historical_return(df)
    S = risk_models.sample_cov(df)
        
    # Optimise for maximal Sharpe ratio
    ef = EfficientFrontier(mu, S)
    raw_weights = ef.max_sharpe()
    cleaned_weights = ef.clean_weights()
        
    exp_ret.append(ef.portfolio_performance(verbose=False)[0])
    vol.append(ef.portfolio_performance(verbose=False)[1])
    sr.append(ef.portfolio_performance(verbose=False)[2])
        
    wt = list(cleaned_weights.values())
    start_val = sum(wt*df_.iloc[i*30])
    end_val = sum(wt*df_.iloc[(i+1)*30])
    rrr = end_val/start_val - 1 
    act_ret.append(rrr)
    
act_ret.append(0.002)

for i in range(26,29):
    df = pd.DataFrame()
    for ind in ['RU20INTR','RUMCINTR','LBUSTRUU','NDDUWXUS','LG30TRUU','BCOMTR']:
        dt = pd.read_csv('%s.csv'%ind,index_col=0)
        df = pd.concat([df,dt.iloc[:,i]],axis = 1)
    df.columns = ['RU20INTR','RUMCINTR','LBUSTRUU','NDDUWXUS','LG30TRUU','BCOMTR']
    
    
    mu = expected_returns.mean_historical_return(df)
    S = risk_models.sample_cov(df)
        
    # Optimise for maximal Sharpe ratio
    ef = EfficientFrontier(mu, S)
    raw_weights = ef.max_sharpe()
    cleaned_weights = ef.clean_weights()
        
    exp_ret.append(ef.portfolio_performance(verbose=False)[0])
    vol.append(ef.portfolio_performance(verbose=False)[1])
    sr.append(ef.portfolio_performance(verbose=False)[2])
        
    wt = list(cleaned_weights.values())
    start_val = sum(wt*df_.iloc[i*30])
    end_val = sum(wt*df_.iloc[(i+1)*30])
    rrr = end_val/start_val - 1 
    act_ret.append(rrr)

In [80]:
data = {
        'Actual Return': act_ret
       }

dfff = pd.DataFrame(data, columns = ['Actual Return'])
dfff.to_csv('monthly_ml_result.csv',index=False)

In [81]:
act_ret

[0.03991448568478195,
 0.021398800744862,
 0.010723627886830789,
 0.01720864210336881,
 0.002,
 0.015874109249034873,
 0.002,
 0.04026228292728118,
 0.02184573315767202,
 0.012224434545138552,
 0.002,
 -0.011594720495691435,
 0.028597540470971294,
 0.010717208366094244,
 -0.008874769670011107,
 -0.06496580970948651,
 -0.021457689266172975,
 -0.0005358103522657975,
 0.002,
 0.033008335170414016,
 -0.049733638969820415,
 0.0712983230395714,
 -0.04851713544684744,
 0.016019779771189402,
 0.002,
 -0.014040566030422141,
 -0.16719842051922285,
 0.06124999578910506]